:root {
    /* colourscheme */
    /* highlights */
    --highlight-1: #00AFFF;
    --highlight-2: #FF00BB;

    /* neutrals */
    --neutral-1: #CCCCCC;
    --neutral-2: #BBBBBB;

    /* backgrounds */
    --background-1: #000000;
    --background-2: #007BBB;



    /* fonts */
    --header-font-size: 4vh;
    --normal-font-size: 3vh;
}
body, canvas {
    background-color: var(--background-1);
    margin: 0;
    overflow: hidden;
}
h1 {
    font-size: var(--header-font-size);
    font-family: 'monospace, monospace';
}
a {
    font-size: var(--normal-font-size);
    display: block;
    margin-bottom: 5vh;
}
p {
    font-size: var(--normal-font-size);
    display: inline;
    width: 50%;
    text-align: left;
}
#menuModal {
    background-color: var(--background-2);
    border: 1vh solid var(--highlight-2);
    position: absolute;
    margin: auto;
    top:    clamp(3%,  5%, 10%);
    bottom: clamp(3%,  5%, 10%);
    left:   clamp(3%, 10%, 25%);
    right:  clamp(3%, 10%, 25%);
    text-align: center;
    padding: clamp(3%, 3%, 10%);
}
.menuButton, .menuIncrementButton {
    background-color: var(--neutral-1);
    border: 0.5vh solid var(--highlight-1);
}

.menuButton {
    font-size: var(--normal-font-size);
    width: 50%;
    height: clamp(5%, 7%, 10%);
    margin-bottom: 3vh;
}
.menuButton:hover, .menuIncrementButton:hover {
    background-color: var(--neutral-2);
    border: 0.5vh solid var(--highlight-2);
}
.menuIncrementButton {
    font-size: var(--normal-font-size);
    display: inline;
    margin: auto;
    padding: 0.3vh 7vw;
}
.menuIncrement {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-bottom: 3vh;
}
.touchButton {
    position: fixed;
    width: 10vw;
    height: 10vw;
    z-index: 11;
}
#touchThrottleUp {
    bottom: 0vw;
    left: 10vw;
}
#touchThrottleDown {
    bottom: 0vw;
    left: 0vw;
}
#touchRotateClockwise {
    bottom: 0vw;
    right: 0vw;
}
#touchRotateCounterclockwise {
    bottom: 0vw;
    right: 10vw;
}
#restartButton {
    display: none;          /* hide button until game is over */
    position: fixed;
    width: 40vw;
    height: 10vw;
    z-index: 11;
    bottom: 0vw;
    left: 30vw;
    background-color: var(--neutral-1);
    font-size: var(--header-font-size);
    font-family: 'monospace, monospace';
    border: 0.5vh solid var(--highlight-1);
}
#restartButton:hover {
    background-color: var(--neutral-2);
    border: 0.5vh solid var(--highlight-2);
}
